

#section-1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
  }
  
.section-1:hover {
    box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.2);
  }
  